:root{
  --white: #ffffff;
  /* --claro: #ff5823;
  --escuro: #24263b; */

  /* ========= SALMÃO ========= */

  /* --escuro: #2f2f2f;
  --claro: #fa8072; */

  /*  ========= ROXO =========  */

  /* --escuro: #242038;
  --claro: #9067c6; */

  /*  ========= AZUL ========= */

  /* --escuro: #3d5a80;
  --claro: #98c1d9; */

  /*  ========= VERDE|CINZA ========= */

  /* --escuro: #363537;
  --claro: #0cce6b; */

  /*  ========= VERDES ========= */

  /* --escuro: #18312E;
  --claro: #55B77E; */

  /*  ========= AZUL ========= */
  --escuro: #334461;
  --claro: #73A4FA;

  /*  ========= TESTE ========= */
  /* --escuro:#000033;
  --claro: #73A4FA; */
}